// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-blue-light: #88bdbc;
$color-blue-medium: #254e58;
$color-blue-dark: #112d32;
$color-gray-dark: #4f4a41;
$color-gray-light: #6e6658;


